<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Electric Toothbrush Sisters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flickity@2.2.2/dist/flickity.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <div>
            <div>
                <ul>
                    <li>
                        <a href="/">
                            <img class="logo" alt="photo" src="images/ETBSLOGO.jpeg" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="/about">ABOUT</a>
                    </li>
                    <li>
                        <a class="nav-item" href="/shows">SHOWS</a>
                    </li>
                    <li>
                        <a class="nav-item" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="about-title">
    <div class="section-title-about-1">
        <div class="section-title-background">
            <h2>The Story of</h2>
        </div>
    </div>
    <div class="section-title-about-2">
        <div class="section-title-background">
            <h1>the Electric Toothbrush Sisters</h1>
        </div>
    </div>
</div>
<div class="about-text">
    <div id="animated-text">
        <div class="sentence">
            <p>A virus came...</p>
            <p>and all the schools closed.</p>
            <p>Suddenly, parents were teachers</p>
            <p>and home-schooling commenced.</p>
        </div>
        <div class="sentence">
            <p>Math remained important,</p>
            <p>as well as reading and writing -</p>
            <p>but music class became crucial.</p>
        </div>
        <div class="sentence">
            <p>A papa decided now was the time</p>
            <p>to dust off the rickety piano</p>
            <p>and learn how to strike the keys.</p>
            <p>A Nina had many ideas to rattle out in melody.</p>
        </div>
        <div class="sentence">
            <p style="font-size: 30px; font-weight: bold; color: white;">In times of crisis</p>
        </div>
        <div class="sentence">
            <p style="font-size: 40px; font-weight: bold; color: white" >there must be joy.</p>
        </div>
        <div class="sentence">
            <div class="about-wrapper">
                <img src="images/ETBS1.jpeg" />
            </div>
        </div>
    </div>
</div>

<script>
const sentences = document.querySelectorAll('.sentence');

function showSentences() {
  let delay = 0;
  for (let i = 0; i < sentences.length; i++) {
    const sentence = sentences[i];
    sentence.style.animationDelay = `${delay}s`;
    delay += 4;
  }
}

showSentences();

</script>

</body>
</html>
