<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Electric Toothbrush Sisters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flickity@2.2.2/dist/flickity.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<header>
    <nav>
        <div>
            <div>
                <ul>
                    <li>
                        <a href="/">
                            <img class="logo" alt="photo" src="images/ETBSLOGO.jpeg" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-item" href="/about">ABOUT</a>
                    </li>
                    <li>
                        <a class="nav-item" href="/shows">SHOWS</a>
                    </li>
                    <li>
                        <a class="nav-item" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- navbar -->

<div>
    <div>
        <h1 class="section-title">New Releases</h1>
    </div>
    <div>
        <hr>
    </div>
</div>
<!-- new releases title -->

<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-cell">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-carousel-1" style="background-image: url('/images/cowgirl.jpeg')"></div>
                <div class="carousel-image-overlay">
                    <div class="carousel-image-overlay-text"><p>The Cowgirl Song</p></div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-carousel-2" style="background-image: url('/images/meanpapa.jpeg')"></div>
                <div class="carousel-image-overlay">
                    <div class="carousel-image-overlay-text"><p>Mean Mean Papa</p></div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-carousel-3" style="background-image: url('/images/potato.jpeg')"></div>
                <div class="carousel-image-overlay">
                    <div class="carousel-image-overlay-text"><p>Ro'inn Potato</p></div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-carousel-4" style="background-image: url('/images/rollerskate.jpeg')"></div>
                <div class="carousel-image-overlay">
                    <div class="carousel-image-overlay-text"><p>Rollerskate Rama</p></div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-carousel-5" style="background-image: url('/images/science.jpeg')"></div>
                <div class="carousel-image-overlay">
                    <div class="carousel-image-overlay-text"><p>Science Kid</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- new releases carousel --->

<div>
    <div>
        <h1 class="section-title">Catalog</h1>
    </div>
    <div>
        <hr>
    </div>
</div>
<!-- catalog title -->

<ul class="product-list">
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/smiling-underneath-my-mask">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-1" style="background-image: url('/images/smiling.jpeg')"></div>
            </div>
            <h2>Smiling (Underneath My Mask)</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/science-kid">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-2" style="background-image: url('/images/science.jpeg')"></div>
            </div>
            <h2>Science Kid</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/roinn-potato">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-3" style="background-image: url('/images/potato.jpeg')"></div>
            </div>
            <h2>Ro'inn Potato</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/mean-mean-papa">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-4" style="background-image: url('/images/meanpapa.jpeg')"></div>
            </div>
            <h2>Mean Mean Papa</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/ring-a-ding-ding-spring-song" >
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-5" style="background-image: url('/images/spring.jpeg')"></div>
            </div>
            <h2>Ring-a-Ding-Ding (Spring Song)</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/roller-skate-rama">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-6" style="background-image: url('/images/rollerskate.jpeg')"></div>
            </div>
            <h2>Rollerskate Rama</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/track/the-cowgirl-song">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-6" style="background-image: url('/images/cowgirl.jpeg')"></div>
            </div>
            <h2>The Cowgirl Song</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://theelectrictoothbrushsisters.bandcamp.com/album/the-electric-toothbrush-sisters-tape">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-6" style="background-image: url('/images/firstalbum.jpeg')"></div>
            </div>
            <h2>The FULL ALBUM</h2>
        </a>
    </li>
    <li class="product-item">
        <a href="https://youtu.be/UUxQz8dtwec">
            <div class="thumbnail-wrapper">
                <div class="thumbnail-image-6" style="background-image: url('/images/ninaspring.jpeg')"></div>
            </div>
            <h2>"Spring Song" Music Video</h2>
        </a>
    </li>
</ul>
<!-- catalog -->

<div>
    <div>
        <h1 class="section-title">Band Photos</h1>
    </div>
    <div>
        <hr>
    </div>
</div>
<!-- band photos title -->

<div class="carousel-container-2">
    <div class="carousel-2">
        <div class="carousel-cell-2">
            <div class="thumbnail-wrapper-2">
                <div class="photo-wrapper first"></div>
            </div>
        </div>
        <div class="carousel-cell-2">
            <div class="thumbnail-wrapper-2">
                <div class="photo-wrapper second"></div>
            </div>
        </div>
        <div class="carousel-cell-2">
            <div class="thumbnail-wrapper-2">
                <div class="photo-wrapper third"></div>
            </div>
        </div>
        <div class="carousel-cell-2">
            <div class="thumbnail-wrapper-2">
                <div class="photo-wrapper fourth"></div>
            </div>
        </div>
    </div>
</div>
<!-- band pics -->

<!-- comment -->
<script src="https://cdn.jsdelivr.net/npm/flickity@2.2.2/dist/flickity.pkgd.min.js?v=1"></script>
<script>

   window.onload = function() {
    var flkty1 = new Flickity('.carousel', {
        initialIndex: 2
    });
    var flkty2 = new Flickity('.carousel-2', {
        initialIndex: 2
    });
};

</script>
</body>
</html>
